<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
</head>
<body>
     <button
            class="back-button"
            onclick="history.back()"
        >
            ← Voltar
     </button>
    <div class="password_container">
        <img
            src="{{ url_for('static', filename='img/Simbolo_Questlab-removebg-preview.png') }}"
            alt="QuestLab"
            class="logo"
        >
        <h1>Dados do usuário disponíveis para editar:</h1>
        <p class="password-subtitle">
            Digite sua senha atual e escolha uma nova senha.
        </p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('edit_account', routename=routename) }}" method="post" class="password-form">
            <!--no action vc passa o comando usando o jinja para executar a função desejada em python, tem
             que colocar o method tbm.-->

                    <input type="password" name="old_password" placeholder="Senha atual">

                    <input type="password" name="new_password" placeholder="Nova senha">
                    <input type="password" name="confirm_password" placeholder="Confirmar nova senha">

                <button class="enviar" type="submit">
                    Salvar alterações
                </button>

        </form>
    </div>

</body>
</html>