<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestLab</title>
</head>
<body>
    <form>
        {% for key, value in questoes.items() %}
        <div>
            <h1>{{ key }}</h1>
            <div>{{ value['enunciado'] }}</div>
            <div>{{ value.alternativas['a'] }}</div>
            <div>{{ value.alternativas['b'] }}</div>
            <div>{{ value.alternativas['c'] }}</div>
            <div>{{ value.alternativas['d'] }}</div>
            <div>{{ value.alternativas['e'] }}</div>

        </div>
        {% endfor %}
    </form>
</body>
</html>